---
import '../../styles/blog/post-content.scss'
import PostLayout from "@layouts/PostLayout.astro";
import { getAllPosts } from "src/lib/cosmic";
const posts = await getAllPosts();

const {slug} = Astro.params;

const page = posts.find((post) => post.slug === slug);

const {title, modified_at, content} = page

---
    <PostLayout>
        <p class="text-sm text-slate-400">Actualizado por última vez: {new Date(modified_at).toLocaleDateString()}</p>
        <h1 class="text-6xl sm:text-8xl main-heading py-2">{title}</h1>
        <h2 class="text-2xl dark:text-white">TL;DR</h2>
        <blockquote class="p-4 my-4 border-l-4 border-slate-300 bg-slate-50 dark:border-slate-200 dark:bg-slate-800">
          <p class="text-lg italic font-medium leading-relaxed text-slate-900 dark:text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem distinctio nisi ipsa velit, molestias minima odio nihil, placeat ad magni maxime culpa doloremque obcaecati! Voluptatibus illo adipisci tempore temporibus eveniet.</p>
      </blockquote>
        <div id="post-content" class="dark:text-white" set:html={content}></div>
    </PostLayout>
  

