---
import { IHeroProps } from "@types";

const { name, about , accent, profile} = Astro.props as IHeroProps;
console.log(Astro.props);
---

<section>
  <p class="dark:text-light mt-[117px]">👋 Hola, soy</p>
  <div class="w-full flex items-center justify-between flex-wrap">
    <h1>{name}</h1>
    <div class="h-full">
      <img  class="h-32 w-32 rounded-full m-8" src={profile} alt="" srcset="">
    </div>
  </div>
  <p class="dark:text-light text-lg mb-16">
    {about}
  </p>
  <p class="text-cyan-600 font-bold text-lg mb-16">
    {accent}
  </p>
</section>
