---
import BlogPostCard from "./BlogPostCard.astro";
import { getAllPosts } from "src/lib/cosmic";
const data = await getAllPosts();
---


  <div class="grid grid-flow-row auto-rows-max md:auto-rows-min">
    {data.map((post) => (
      <BlogPostCard {...post} />
    ))}
  </div>